<ytm-menu></ytm-menu>
<div class="container body-content">
    <h2>{{title}}</h2>
    <form name="form" role="form" class="css-form form-horizontal" novalidate>
        <div style="margin-left:15px; margin-right:15px">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" style="min-width:115px">name</span>
                    <input name="name" class="form-control" type="text" ng-model="poll.Name" required placeholder="Poll name" />
                    <span class="form-control validation" ng-show="form.name.$invalid">Whats this Poll called?</span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" style="min-width:115px">majority req'd<br>to pass</span>
                    <span class="form-control" style="min-height:42px"><input name="majorityRequired" type="number" min="1" max="100" ng-model="poll.MajorityRequired"/>%</span>
                    <span class="form-control validation" ng-show="form.majorityRequired.$invalid">Between 1 and 100 please</span>
                </div>
                <div class="input-group" ng-hide="isDeleteEnabled">
                    <span class="input-group-addon" style="min-width:115px">ignore<br>abstentions</span>
                    <span class="form-control" style="min-height:42px">
                        <input type="checkbox" ng-model="ignoreAbstain">
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="text-right">
                    <button type="button" ng-click="$back()" class="btn btn-default">{{alternatebutton}}</button>
                    <button type="button" ng-click="showDelete()" ng-show="isDeleteEnabled" class="btn btn-danger">Delete</button>
                    <button type="submit" ng-disabled="form.$invalid" ng-click="save()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
