<a class="list-group-item">
    <div class="media">
        <img class="media-object pull-left" ng-src="{{myVote.Attendee.Profile.ProfilePictureUri}}">
        <div class="media-body">
            <button class="btn btn-default pull-right" ng-click="myVoteOpen=!myVoteOpen" ng-show="poll.Status=='Open' || event.CreatorID == profile.ProfileID || list.CreatorID == profile.ProfileID">
                <span class="glyphicon glyphicon glyphicon-pencil"></span>
            </button>
            <div>
                <h4 class="media-heading">{{myVote.Attendee.Name}}</h4>
                {{myVote.Attendee.Profile.Name}}
                <div style="background-color:lightgreen; height:5px" ng-show="myVote.VoteResult == 'For'"></div>
                <div style="background-color:red; height:5px" ng-show="myVote.VoteResult == 'Against'"></div>
            </div>
            <div collapse="!myVoteOpen" style="margin-top:5px">
                <div class="btn-group">
                    <label class="btn btn-default" ng-click="myVoteOpen=false; castVote(attendee, 'For')"><span class="glyphicon glyphicon-thumbs-up"></span></label>
                    <label class="btn btn-default" ng-click="myVoteOpen=false; castVote(attendee, 'Against')"><span class="glyphicon glyphicon-thumbs-down"></span></label>
                    <label class="btn btn-default" ng-click="myVoteOpen=false; castVote(attendee, 'Abstain')">Abstain</label>
                </div> 
            </div>
        </div>
    </div>
</a>