<div>
    <ytm-nav-menu></ytm-nav-menu>
    <div class="container body-content">
        <alert type="info" ng-show="info" close="info=''">{{info}}</alert>
        <alert type="danger" ng-show="error" close="error=''"><b>Doh! </b>{{error}}</alert>
        <div>
            <h2>Polls
                </br>
                <small>{{event.Name}}</small>
            </h2>
            <div class="list-group">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </span>
                                <input type="text" class="form-control" ng-model="query" placeholder="Find a Poll..." />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-primary pull-right" ng-click="new()">
                                <span class="glyphicon glyphicon-plus" style="margin-right:5px"></span>New
                            </button>
                        </div>
                    </div>
                </div>
                <div class="well" ng-show="polls.length == 0">There is not yet any Polls to vote on</div>
                <a href="#/polls/{{poll.PollID}}" class="list-group-item" ng-repeat="poll in polls | filter:query">
                    <h4 class="list-group-item-heading">{{poll.Name}}<br>
                        <div style="background-color:lightgreen; height:5px; margin-bottom:5px" ng-show="poll.Status == 'Open'"></div>
                        <div style="background-color:red; height:5px; margin-bottom:5px" ng-show="poll.Status == 'Closed'"></div>
                        <small ng-show="poll.IsPassing">Passing</small>
                        <small ng-hide="poll.IsPassing">Failing</small>
                    </h4>
                    <p class="list-group-item-text">
                        <progress max="poll.VotesFor + poll.VotesAgainst + poll.VotesAbstaining" ng-show="poll.VotesFor >= 1 && poll.VotesAgainst >= 1" >
                            <bar value="poll.VotesFor" type="success"><span>{{poll.VotesFor}} for</span></bar>
                            <bar value="poll.VotesAgainst" type="danger"><span>{{poll.VotesAgainst}} against</span></bar>
                        </progress>
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>
