<div class="modal-header">
    <button type="button" class="close" ng-click="cancelSettings()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{poll.Name}}</h4>
</div>
<div class="modal-body">
   	<button type="button" class="btn btn-default" style="width:100%" ng-click="doAction('open')" ng-show="poll.Status == 'Closed'">Open for Voting</button>
    <button type="button" class="btn btn-default" style="width:100%" ng-click="doAction('close')" ng-show="poll.Status == 'Open'">Close Voting</button>
    <button type="button" class="btn btn-default" style="width:100%" ng-click="doAction('clear')">Clear all Votes</button>
    <button type="button" class="btn btn-default" style="width:100%" ng-click="doAction('edit')">Edit this Poll</button>
</div>