<ytm-nav-menu></ytm-nav-menu>
<div class="container body-content">
    <div>
        <h2>{{poll.Name}}
            </br>
            <div class="pull-right" ng-show="event.CreatorID == profile.ProfileID || poll.CreatorID == profile.ProfileID">
                <div class="btn-group" dropdown is-open="isSettingsOpen">
                    <button type="button" class="btn btn-default dropdown-toggle">
                        <span class="glyphicon glyphicon-cog"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li ng-show="poll.Status == 'Open'" ng-click="closePoll()"><a>Close this Poll to voting</a>
                        </li>
                        <li ng-show="poll.Status == 'Closed'" ng-click="openPoll()"><a>Open this Poll for voting</a>
                        </li>
                        <li><a href="#/editPoll/{{poll.PollID}}">Edit this Poll</a>
                        </li>
                        <li ng-click="clearVotes()"><a>Clear all Votes</a>
                        </li>
                    </ul>
                </div>
            </div>
            <small>{{event.Name}}</small>
        </h2>            
        <!-- Poll results -->
        <div class="row">
            <div class="col-xs-4" style="text-align:center">
                <h1>{{poll.VotesFor}}<br><small>For</small></h1>
            </div>
            <div class="col-xs-4" style="text-align:center">
                <h1>{{poll.VotesAgainst}}<br><small>Against</small></h1>
            </div>
            <div class="col-xs-4" style="text-align:center"><h1>{{poll.VotesAbstaining}}<br><small>Abstain</small></h1></div>
        </div>
        <progress style="text-align:center" ng-hide="poll.VotesAbstaining==votes.length">
            <bar value="(poll.VotesFor / votes.length)*100" type="success"><span ng-show="poll.IsPassing">Passing</span></bar>
            <bar value="(poll.VotesAgainst / votes.length)*100" type="danger"><span ng-hide="poll.IsPassing">Failing</span></bar>
            <bar value="(poll.VotesAbstaining / votes.length)*100"><span ng-hide="poll.IsPassing || poll.VotesAgainst > 0">Failing</span></bar>
        </progress>
        <!-- My Vote -->
        <h4>Your Vote</h4>
        <ytm-my-vote></ytm-my-vote>
        <!-- List of votes -->
        <h4>Other Votes</h4>
        <ytm-vote-list></ytm-vote-list>
    </div>
</div>
