<div class="well" ng-show="votes.length == 1">There are no other Votes on this Poll</div>
<div class="btn-group btn-group-justified" ng-show="votes.length > 1" style="margin-bottom:5px">
    <label class="btn btn-default active" ng-model="voteFilter.for" btn-checkbox>For</label>
    <label class="btn btn-default active" ng-model="voteFilter.against" btn-checkbox>Against</label>
    <label class="btn btn-default active" ng-model="voteFilter.abstain" btn-checkbox>Abstain</label>
</div>
<div class="form-group" ng-show="otherVotes.length > 10">
    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class="form-control" ng-model="voteFilter.text" placeholder="Find vote..." />
    </div>
</div>
<a class="list-group-item" ng-animate="'animate'" ng-repeat="vote in otherVotes | filter:filteredVotes">
    <div class="media">
        <img class="media-object pull-left" ng-src="{{vote.Attendee.Profile.ProfilePictureUri}}">
        <div class="media-body">
            <button class="btn btn-default pull-right" ng-click="vote{{vote.VoteID}}Open=!vote{{vote.VoteID}}Open" ng-show="event.CreatorID == profile.ProfileID || list.CreatorID == profile.ProfileID">
                <span class="glyphicon glyphicon glyphicon-pencil"></span>
            </button>
            <div>
                <h4 class="media-heading">{{vote.Attendee.Name}}</h4>
                {{vote.Attendee.Profile.Name}}
                <div style="background-color:lightgreen; height:5px" ng-show="vote.VoteResult == 'For'"></div>
                <div style="background-color:red; height:5px" ng-show="vote.VoteResult == 'Against'"></div>
            </div>
            <div collapse="!vote{{vote.VoteID}}Open" style="margin-top:5px">
                <div class="btn-group">
                    <label class="btn btn-default" ng-click="vote{{vote.VoteID}}Open=false; castVote(vote.Attendee, 'For')"><span class="glyphicon glyphicon-thumbs-up"></span></label>
                    <label class="btn btn-default" ng-click="vote{{vote.VoteID}}Open=false; castVote(vote.Attendee, 'Against')"><span class="glyphicon glyphicon-thumbs-down"></span></label>
                    <label class="btn btn-default" ng-click="vote{{vote.VoteID}}Open=false; castVote(vote.Attendee, 'Abstain')">Abstain</label>
                </div> 
            </div>
        </div>
    </div>
</a>
