<div>
    <ytm-menu></ytm-menu>
    <div class="container body-content">
        <h2>Attend
            <br/>
            <small>{{event.Name}}</small>
        </h2>
        <alert type="info" ng-show="info" close="info=''">{{info}}</alert>
        <alert type="danger" ng-show="error" close="error=''"><b>Doh! </b>{{error}}</alert>
        <form name="form" role="form" class="css-form form-horizontal" style="margin:15px" novalidate>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" style="min-width:65px">representing</span>
                    <input name="name" class="form-control" type="text" ng-model="name" ng-disabled="formDisabled" required placeholder="Your delegation name" />
                    <span class="form-control validation" ng-show="form.name.$invalid && form.$dirty">We need your delegation name</span>
                </div>
            </div>
            <div class="row">
                <div class="text-right">
                    <button type="button" ng-click="$back()" class="btn btn-default">Cancel</button>
                    <button type="submit" ng-disabled="form.$invalid" ng-hide="formDisabled" ng-click="save()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
