<ytm-nav-menu></ytm-nav-menu>
<div class="container body-content">
    <h2>{{event.Name}}
        <br/>
        <small>{{attendee.Name}}</small>
    </h2>
    <alert type="info" ng-show="info" close="info=''">{{info}}</alert>
    <alert type="danger" ng-show="error" close="error=''"><b>Doh! </b>{{error}}</alert>
    <div class="list-group">
        <a href="#/speakersLists" class="list-group-item">
            <h2>
                <span class="glyphicon glyphicon-list-alt"></span> Speakers Lists</h2>
            <p>Create Speakers Lists. Have delegates add themselves to speak on them. Shuffle the order and never lose track</p>
        </a>
        <a href="#/polls" class="list-group-item">
            <h2>
                <span class="glyphicon glyphicon-ok"></span> Voting</h2>
            <p>Create a Poll and ask delegates to cast their Vote. See the Votes come in in real time and see whether or not the Poll has passed or failed</p>
        </a>
        <a class="list-group-item">
            <h2>
                <span class="glyphicon glyphicon-envelope"></span> Note passing</h2>
            <p>Message other delegates in real-time without needing to exchange your phone, email, or IM details</p>
            <div class="alert alert-danger">We haven't finished this yet</div>
        </a>
    </div>
</div>
