<div class="row-picture">
    <!-- Profile picture -->
    <img class="circle pull-left" ng-src="img/profile.jpg" ng-hide="attendee.Profile" >
    <img class="circle pull-left" ng-src="{{attendee.Profile.ProfilePictureUri}}"  ng-show="attendee.Profile" ng-click="showProfile(attendee.Profile.ProfileID)">
</div>
<div class="row-content">
    <!-- Chat button -->
    <button class="btn btn-default btn-lg mdi-communication-chat pull-right" ng-click="showChat(attendee.AttendeeID)" ng-show="attendee.Profile && attendee.Profile.ProfileID != profile.ProfileID"></button>
    <!-- Edit attendee button -->
    <button class="btn btn-default btn-lg mdi-content-create pull-right" ng-click="editAttendee(attendee.AttendeeID)" ng-show="isCreator || attendee.Profile.ProfileID == profile.ProfileID"></button>
    <!-- Names -->
    <h4 class="list-group-item-heading">{{attendee.Name}}</h4>
    <p class="list-group-item-text">{{attendee.Profile.Name}}</p>
</div>
<div class="list-group-separator"></div>

