<ytm-menu></ytm-menu>
<div class="container body-content">
    <h2>{{title}}
        <br/>
        <small>{{selectedAttendee.Profile.Name}}</small>
    </h2>
    <input name="name" class="form-control" type="text" ng-model="selectedAttendee.Name" ng-disabled="formDisabled" required placeholder="Delegation name" />
    <div class="row" style="margin:15px">
        <div class="list-group">
            <!-- Available delegation list -->
            <div class="list-group-item" ng-click="" ng-animate="'animate'" ng-repeat="attendee in availableAttendees  | filter:selectedAttendee.Name | orderBy:'Name'">
                <ytm-attendee ng-click="attendAs(attendee)"></ytm-attendee>
            </div>
            <!-- Add delegation -->
            <div class="list-group-item" ng-show="selectedAttendee.Name.length > 0" ng-click="save()">
                <div class="row-picture">
                    <span class="btn btn-primary btn-fab btn-raised mdi-content-add"></span>
                </div>
                <div class="row-content">
                    <h4 class="list-group-item-heading">{{selectedAttendee.Name}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-right">
            <button type="button" id="backButton" ng-click="$back()" class="btn btn-default btn-fab btn-raised mdi-navigation-arrow-back"></button>
        </div>
    </div>
</div>
