<ytm-menu></ytm-menu>
<div class="container body-content">
    <div class="list-group" style="margin-top:20px">
        <div class="list-group-item" style="margin-bottom:10px">
            <ytm-attendee></ytm-attendee>
        </div>
    </div>
    <!-- Add new Attendee button -->
    <button type="button" class="btn btn-primary btn-fab btn-raised mdi-content-add pull-right" ng-show="isCreator" ng-click="newAttendee()"></button>
    <div>
        <h1>Chat</h1>
    </div>
    <!-- Attendee search  -->
    <div class="form-group" ng-show="attendees.length > 0">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
            <input type="text" class="form-control" ng-model="query" placeholder="Find delegates..." />
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item" ng-animate="'animate'" ng-repeat="attendee in attendees  | filter:query | orderBy:'Name'">
            <ytm-attendee></ytm-attendee>
        </div>
    </div>
    <br>
    <div class="well" ng-show="attendees.length == 0">There are not yet any other Delegates</div>
</div>
