<div class="form-group" ng-show="attendees.count > 10">
    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class="form-control" ng-model="queryAttendees" placeholder="Find people..." />
    </div>
</div>
<a href="#/viewProfile/{{attendee.Profile.ProfileID}}" class="list-group-item" ng-animate="'animate'" ng-repeat="attendee in attendees | filter:queryAttendees">
    <div class="media">
        <img class="media-object pull-left" ng-src="{{attendee.Profile.ProfilePictureUri}}" ng-click="showProfile(speaker.Attendee.Profile.ProfileID)">
        <div class="media-body">
            <h4 class="media-heading">{{attendee.Name}}</h4>
            {{attendee.Profile.Name}}
        </div>
    </div>
</a>
