<div ui-sortable="speakerReorder" ng-model="speakers">
    <a class="list-group-item" ng-repeat="speaker in speakers">
        <div class="media">
            <img class="media-object pull-left" ng-src="{{speaker.Attendee.Profile.ProfilePictureUri}}">
            <div class="media-body">
                <div class="btn-group pull-right">
                    <button type="button" ng-show="$index == 0" ng-click="speak(speaker)" class="btn btn-default">
                        <span class="glyphicon glyphicon-comment"></span>
                    </button>
                    <button type="button" ng-click="remove(speaker)" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <h4 class="media-heading">{{speaker.Attendee.Name}}</h4>
                {{speaker.Attendee.Profile.Name}}
                <div style="background-color:lightgreen; height:5px" ng-show="speaker.Position == 'For'"></div>
                <div style="background-color:red; height:5px" ng-show="speaker.Position == 'Against'"></div>
            </div>
        </div>
    </a>
</div>