<div>
    <emptymenu></emptymenu>
    <div class="container body-content">
        <h2>Events</h2>
        <div class="alert alert-info" ng-show="info">{{info}}</div>
        <div class="alert alert-danger" ng-show="error"><b>Doh! </b>{{error}}</div>

        <div class="form-group ">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                <input type="text" class="form-control" ng-model="query" placeholder="Filter Events..." />
            </div>
        </div>

        <div class="list-group">
            <a href="#" class="list-group-item" ng-repeat="event in events | filter:query">
                <h4 class="list-group-item-heading">{{event.Name}}</h4>
                <p class="list-group-item-text">
                    <div><b>{{event.DisplayDate}}</b>
                    </div>
                    <div>{{event.Description}}</div>
                </p>
            </a>
        </div>
    </div>
</div>
