<div>
    <eventsmenu></eventsmenu>
    <div class="container body-content">
        <div ng-hide="selectedEvent">
            <h2>Upcoming Events</h2>
            <div class="alert alert-info" ng-show="info">{{info}}</div>
            <div class="alert alert-danger" ng-show="error"><b>Doh! </b>{{error}}</div>
            <div class="list-group">
                <div class="form-group ">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input type="text" class="form-control" ng-model="query" placeholder="Find an Event..." />
                    </div>
                </div>
                <a href="" ng-click="selectEvent(event)" class="list-group-item" ng-repeat="event in events | filter:query">
                    <h4 class="list-group-item-heading">{{event.Name}}</h4>
                    <p class="list-group-item-text">
                        <div><b>{{event.DateDescription}}</b>
                        </div>
                        <div ng-show="event.Description">{{event.Description}}</div>
                    </p>
                </a>
            </div>
        </div>
        <div ng-show="selectedEvent">
            <h2>{{selectedEvent.Name}}
                <br>
                <small>{{selectedEvent.DisplayDate}}</small>
            </h2>
            <p ng-show="selectedEvent.Description">{{selectedEvent.Description}}</p>
            <p>
                <button type="button" class="btn btn-primary btn-lg">I am attending</button>
                <button type="button" ng-click="selectEvent()" class="btn btn-default btn-lg">Nah, not this one</button>
            </p>
            <br>
            <h3>People already attending</h3>
            <div class="well well-sm">
                <div class="list-group">
                    <attendeeList></attendeeList>
                </div>
            </div>
        </div>
    </div>
</div>
