<ytm-home-menu></ytm-home-menu>
<div class="container body-content">
    <div class="hidden-xs" style="height:300px; background-image:url('img/Attendees_header.jpg');">
    </div>
    <div class="jumbotron">
        <p>
            Make your Model UN better. With yieldto.me delegates can add themeslves to Speakers Lists and Vote using their phone, tablet or PC. It supports the old fashioned way at the same time too. Everyone spends less time on the rules and more time on the debate
        </p>
        <button type="button" id="loginButton" class="btn btn-primary btn-lg" ng-click="showLogin()">Get started</button>
    </div>
    <!-- Features -->
    <div class="row" style="margin-top:-20px">
        <div class="col-md-3">
            <h2>Stop! Collaborate and Listen</h2>
            <div class="thumbnail">
                <div style="margin-left:5px; margin-top:10px">
                    <span style="margin-left:5px; color:grey" class="glyphicon glyphicon-user"></span><a href="http://www.facebook.com/yieldtodotme" target="_blank" style="margin-left:10px">fb.com/yieldtodotme</a>
                </div>
                <div style="margin-left:5px; margin-top:10px">
                    <span style="margin-left:5px; color:grey" class="glyphicon glyphicon-comment"></span><a href="http://www.twitter.com/yieldto_me" target="_blank" style="margin-left:10px">@yieldto_me</a>
                </div>
                <div style="margin-left:5px; margin-top:10px;">
                    <span style="margin-left:5px; color:grey" class="glyphicon glyphicon-bullhorn"></span><a href="https://yieldtome.uservoice.com" target="_blank" style="margin-left:10px">Suggest new features</a>
                </div>
                <div style="margin-left:5px; margin-top:10px; margin-bottom:10px">
                    <span style="margin-left:5px; color:grey" class="glyphicon glyphicon-transfer"></span><a href="http://www.github.com/bradleyscott/yieldtome" target="_blank" style="margin-left:10px">Contribute code</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-4">
                <h2>Speak</h2>
                <div class="thumbnail">
                    <img src="img/Speakers_Thumbnail.jpg" style="margin-top:5px" class="img-rounded">
                    <div class="caption">
                        <p>Create Speakers Lists. Have delegates add themselves to speak on them from their phone, tablet or computer. Shuffle the order and never lose track</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Vote</h2>
                <div class="thumbnail">
                    <img src="img/Votes_Thumbnail.jpg" style="margin-top:5px" class="img-rounded">
                    <div class="caption">
                        <p>Create a Poll and ask delegates to cast their Vote. See the Votes come in in real time and see whether or not the Poll has passed or failed</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Interact</h2>
                <div class="thumbnail">
                    <img src="img/Attendees_Thumbnail.jpg" style="margin-top:5px" class="img-rounded">
                    <div class="caption">
                        <p>Secretly 'Like' other delegates. They won't find out unless they 'Like' you too. Then share contact details on your delegate profile. See the contact details that other delegates have shared with you</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQs -->
    <h2>Frequently asked</h2>
    <accordion>
        <accordion-group heading="Do all an event's delegates need to sign in to yieldto.me?">
          No. The event organiser can manually add delegates who aren't using yieldto.me. They can then add them as Speakers on Speakers lists and cast Votes on their behalf- just as you would have done without yieldto.me
        </accordion-group>
        <accordion-group heading="Can I use yieldto.me without a Facebook or Google+ account?">
          So you don't need to remember yet another username and password we are taking advantage of Facebook and Google's login capabilities. yieldto.me won't have the ability to post on your wall or anything like that. We just record your Facebook or Google user ID and email address so we can remember you. 
          Unfortunately, if you don't have Facebook or Google- you can't use yieldto.me at this stage. But, we are looking to add LinkedIn login support soon. If you want you can vote to support other login mechanisms on our <a href="https://yieldtome.uservoice.com"  target="_blank">feature request site</a>
        </accordion-group>
        <accordion-group heading="If I 'Like' another delegate, do they get notified?">
          Only if they also 'Like' you too. In which case you will both be able to see that you like each other when viewing each other's Profile. So, in that sense, it's like Tinder. But, for Model UNs.
        </accordion-group>
        <accordion-group heading="What features will you add next?">
          That is partly up to you. We have lots of ideas and you can influence the priority by voting on our <a href="https://yieldtome.uservoice.com"  target="_blank">feature request site</a>. Some of the ideas on the list are:
          <ul>
            <li>Delegate to delegate instant messaging</li>
            <li>Add delegates to an Event in bulk. A time saver for event organisers</li>
            <li>Keyboard shortcuts - for power users with a keyboard</li>
            <li>iPhone and Android Apps</li>
            <li>Help overlays to assist first time users</li>
          </ul>
        </accordion-group>
        <accordion-group heading="How can I contribute code?">
          yieldto.me is open source- meaning you can see the code and contribute to fixing bugs and developing enhancements or new features. The code is <a href="http://www.github.com/bradleyscott/yieldtome" target="_blank">available on GitHub</a> for you to look at, fork, and submit pull requests to. We also have an RESTful API that can be used to develop your own stand-alone Apps and sites using yieldto.me's data. Get in contact if you want an API key.
        </accordion-group>
        <accordion-group heading="I can't code. How can I contribute?">
          We are really in need of some web and graphic design help. So if you've got those skills then get in touch. If you don't- we are on the hunt for more Model UNs to use yieldto.me so we can get more feedback and make it even better. So if you can be an enthusiastic spokesperson- that would be great too.
        </accordion-group>
  </accordion>
</div>
