<div>
    <eventsmenu></eventsmenu>
    <div class="container body-content">
        <h2>{{title}}
            <br/>
            <small>{{profile.Name}}</small>
        </h2>
        <div class="alert alert-info" ng-show="info">{{info}}</div>
        <div class="alert alert-danger" ng-show="error"><b>Doh! </b>{{error}}</div>
        <form name="form" role="form" class="css-form form-horizontal" novalidate>
            <div class="col-sm-3 hidden-xs">
                <img ng-src="{{profile.ProfilePictureUri}}?type=large" class="img-responsive img-circle" />
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" style="min-width:65px">name</span>
                        <input name="name" class="form-control" type="text" ng-model="profile.Name" required placeholder="Your name" />
                        <span class="form-control validation" ng-show="form.name.$invalid">We need your name</span>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="input-group">
                        <span class="input-group-addon" style="min-width:65px">email</span>
                        <input name="email" class="form-control" type="email" ng-model="profile.Email" required placeholder="your@email.com" />
                        <span class="form-control validation" ng-show="form.email.$invalid">This email looks wrong</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" style="min-width:65px">phone</span>
                        <!-- TODO: Add in Regex validation for phone number -->
                        <input class="form-control" type="text" ng-model="profile.Phone" placeholder="555-123-4567" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" style="min-width:65px">twitter</span>
                        <!-- TODO: Add in Regex validation for Twitter -->
                        <input class="form-control" type="text" ng-model="profile.Twitter" placeholder="yourTwitterName" />
                    </div>
                </div>
                <div class="row">
                    <div class="text-right">
                        <button type="button" ng-click="$back()" class="btn btn-default">{{alternatebutton}}</button>
                        <button type="submit" ng-disabled="form.$invalid" ng-click="save()" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
