<div class="row-picture">
    <!-- Profile picture -->
    <img class="circle pull-left" ng-src="img/profile.jpg" ng-hide="attendee.Profile">
    <img class="circle pull-left" ng-src="{{attendee.Profile.ProfilePictureUri}}" ng-show="attendee.Profile" ng-click="showProfile({{attendee.Profile.ProfileID}})">
</div>
<div class="row-content" ng-click="attendee{{attendee.AttendeeID}}Open=!attendee{{attendee.AttendeeID}}Open">
    <!-- Names -->
    <h4 class="list-group-item-heading">{{attendee.Name}}</h4>
    <p class="list-group-item-text">{{attendee.Profile.Name}}</p>
</div>
<!-- Add speaker controls -->
<div collapse="!attendee{{attendee.AttendeeID}}Open">
    <div class="btn-group btn-group-justified" style="margin-top:10px">
        <label class="btn btn-default" ng-click="add(attendee,'For')">
            <span class="glyphicon glyphicon-thumbs-up"></span>
        </label>
        <label class="btn btn-default" ng-click="add(attendee,'Against')">
            <span class="glyphicon glyphicon-thumbs-down"></span>
        </label>
        <label class="btn btn-default" ng-click="add(attendee,'None')">Neutral</label>
    </div>
</div>
<div class="list-group-separator"></div>
