<ytm-menu></ytm-menu>
<div class="container body-content">
    <h2>{{title}}</h2>
    <form name="form" role="form" class="css-form form-horizontal" style="margin:15px" novalidate>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" style="min-width:65px">name</span>
                <input name="name" class="form-control" type="text" ng-model="list.Name" ng-disabled="formDisabled" required placeholder="Speakers list name" />
                <span class="form-control validation" ng-show="form.name.$invalid && form.$dirty">We need a name</span>
            </div>
        </div>
        <div class="row">
            <div class="text-right">
                <button type="button" ng-click="$back()" class="btn btn-default">{{alternatebutton}}</button>
                <button type="button" ng-click="showDelete()" ng-show="isDeleteEnabled" class="btn btn-danger">Delete</button>
                <button type="submit" ng-disabled="form.$invalid" ng-hide="formDisabled" ng-click="save()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
