<ytm-menu></ytm-menu>
<div class="container body-content">
    <div>
        <h2>{{list.Name}}</h2>
        <button type="button" class="btn btn-primary btn-fab btn-raised mdi-action-settings pull-right" ng-click="showSettings()" ng-show="isCreator"></button>
        <div class="well" ng-show="speakers.length == 0">There are not any Speakers on this Speakers list</div>
        <div class="row" ng-show="speakers.length > 0">
            <!-- Next speaker -->
            <div class="col-md-3 hidden-sm hidden-xs">
                <h3>Next Speaker</h3>
                <div class="thumbnail">
                    <div ng-show="speakers[0].Attendee.Profile">
                        <a href="{{speakers[0].Attendee.Profile.DefaultContactUri}}" target="_blank">
                            <img ng-src="{{speakers[0].Attendee.Profile.ProfilePictureUri}}" class="img-responsive img-rounded" style="margin-top:5px" />
                        </a>
                    </div>
                    <div ng-hide="speakers[0].Attendee.Profile">
                        <img ng-src="img/profile.jpg" class="img-responsive img-rounded" style="margin-top:5px" />
                    </div>
                    <div class="caption">
                        <h4 class="media-heading">{{speakers[0].Attendee.Name}}</h4>
                        {{speakers[0].Attendee.Profile.Name}}
                        <div class="btn-group btn-group-justified" style="margin-top:5px">
                            <label class="btn btn-default" ng-click="speak(speakers[0])">
                                <span class="glyphicon glyphicon-ok"></span> Spoken
                            </label>
                            <label class="btn btn-default" ng-click="remove(speakers[0])">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Speakers list -->
            <div class="col-md-9">
                <!-- Speakers functions -->
                <div class="btn-group">
                    <!-- Add myself as a Speaker -->
                    <div ng-show="speakingSlot==null && (list.Status == 'Open' || isCreator)">
                        <div class="btn-group" dropdown is-open="isSpeakMenuOpen">
                            <button type="button" class="btn btn-default dropdown-toggle">
                                <span class="glyphicon glyphicon-bullhorn"></span> Speak
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-click="add('For')"><a>Speak For</a>
                                </li>
                                <li ng-click="add('Against')"><a>Speak Against</a>
                                </li>
                                <li ng-click="add('None')"><a>Neutral</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Remove myself as a Speaker -->
                    <button class="btn btn-default" ng-show="speakingSlot" ng-click="remove(speakingSlot)">
                        <span class="glyphicon glyphicon-remove"></span> Remove me
                    </button>
                </div>
                <!-- Non editable -->
                <div class="list-group" style="margin-top:10px">
                    <a class="list-group-item" ng-hide="isCreator" ng-animate="'animate'" ng-repeat="speaker in speakers">
                        <ytm-speaker></ytm-speaker>
                    </a>
                </div>
                <!-- Editable -->
                <div class="list-group" ui-sortable="speakerReorder" ng-model="speakers" ng-show="isCreator" style="margin-top:10px">
                    <a class="list-group-item" ng-animate="'animate'" ng-repeat="speaker in speakers">
                        <ytm-speaker></ytm-speaker>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
