<div class="modal-header">
    <button type="button" class="close" ng-click="cancelSettings()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{list.Name}}</h4>
</div>
<div class="modal-body">
   	<button type="button" class="btn btn-default" style="width:100%" ng-click="doAction('add')">Add another Speaker</button>
   	<button type="button" class="btn btn-default" style="width:100%" ng-click="doAction('open')" ng-show="list.Status == 'Closed'">Open to new Speakers</button>
    <button type="button" class="btn btn-default" style="width:100%" ng-click="doAction('close')" ng-show="list.Status == 'Open'">Close to new Speakers</button>
    <button type="button" class="btn btn-default" style="width:100%" ng-click="doAction('clear')">Remove all Speakers</button>
    <button type="button" class="btn btn-default" style="width:100%" ng-click="doAction('edit')">Edit this Speakers List</button>
</div>