<a class="list-group-item" ng-animate="'animate'" ng-repeat="speaker in speakers">
    <div class="media">
        <img class="media-object pull-left" ng-src="{{speaker.Attendee.Profile.ProfilePictureUri}}">
        <div class="media-body">
            <h4 class="media-heading">{{speaker.Attendee.Name}}</h4>
            {{speaker.Attendee.Profile.Name}}
            <div style="background-color:lightgreen; height:5px" ng-show="speaker.Position == 'For'"></div>
            <div style="background-color:red; height:5px" ng-show="speaker.Position == 'Against'"></div>
        </div>
    </div>
</a>
