<div align="center">
    <carousel interval="4000" style="max-width:800px">
        <slide ng-repeat="speaker in speakers">
            <img ng-src="{{speaker.Attendee.Profile.ProfilePictureUri}}?width=800&height=800" style="margin:auto;">
            <div class="carousel-caption">
                <h4>#{{$index + 1}} - {{speaker.Attendee.Name}}
                    </br>
                    <small>{{speaker.Attendee.Profile.Name}}</small>
                </h4>
                <span ng-hide="speaker.Position == 'None'"><p>Speaking {{speaker.Position}}</p></span>
            </div>
        </slide>
    </carousel>
</div>
