<ytm-menu></ytm-menu>
<div class="container body-content">
    <h2>{{title}}
        <br/>
        <a href="{{profile.DefaultContactUri}}" target="_blank"><small>{{profile.Name}}</small></a>
    </h2>
    <form name="form" role="form" class="css-form form-horizontal" novalidate>
        <div class="col-sm-3 hidden-xs">
            <a href="{{profile.DefaultContactUri}}" target="_blank"><img ng-src="{{profile.ProfilePictureUri}}" class="img-responsive img-rounded"/></a>
        </div>
        <div class="col-sm-9">
            <div class="well" ng-hide="profile.IsEmailPublic || profile.IsPhonePublic || profile.IsTwitterPublic">{{profile.Name}} is not sharing any contact details with you</div>
            <div class="alert alert-success" role="alert" ng-show="isLikeRequited">{{profile.Name}} likes you too!</div>
            <div class="form-group"  ng-show="profile.Email && profile.IsEmailPublic">
                <div class="input-group">
                    <span class="input-group-addon" style="min-width:65px">email</span>
                    <a href="mailto:{{profile.Email}}" target="_blank">
                        <input name="email" class="form-control" type="email" ng-model="profile.Email" ng-disabled="formDisabled" style="cursor:pointer"/>
                    </a>
                </div>
            </div>
            <div class="form-group" ng-show="profile.Phone && profile.IsPhonePublic">
                <div class="input-group">
                    <span class="input-group-addon" style="min-width:65px">phone</span>
                    <a href="tel:{{profile.Phone}}">
                        <input class="form-control" type="text" ng-model="profile.Phone" ng-disabled="formDisabled" style="cursor:pointer"/>
                    </a>
                </div>
            </div>
            <div class="form-group" ng-show="profile.Twitter && profile.IsTwitterPublic">
                <div class="input-group">
                    <span class="input-group-addon" style="min-width:65px">twitter</span>
                    <a href="https://www.twitter.com/{{profile.Twitter}}" target="_blank">
                        <input class="form-control" type="text" ng-model="profile.Twitter" ng-disabled="formDisabled" style="cursor:pointer"/>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="text-right">
                    <button type="button" ng-click="likeProfile()" class="btn btn-default" ng-hide="doesLikeExist"><span class="glyphicon glyphicon-heart"></span> Like</button>
                    <button type="button" ng-click="$back()" class="btn btn-default">{{alternatebutton}}</button>
                    <button type="submit" ng-disabled="form.$invalid" ng-hide="formDisabled" ng-click="save()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
