<ytm-menu></ytm-menu>
<div class="container body-content">
    <div class="list-group" style="margin-top:20px">
        <!-- Send message button -->
        <button type="button" class="btn btn-primary btn-fab btn-raised mdi-content-add pull-right" ng-click="showSend()"></button>
        <div class="list-group-item" style="margin-bottom:10px">
            <div class="row-picture">
                <!-- Profile picture -->
                <img class="circle pull-left" ng-src="img/profile.jpg" ng-hide="attendee.Profile">
                <img class="circle pull-left" ng-src="{{attendee.Profile.ProfilePictureUri}}" ng-show="attendee.Profile" ng-click="showProfile(attendee.Profile.ProfileID)">
            </div>
            <div class="row-content">
                <!-- Names -->
                <h4 class="list-group-item-heading">{{attendee.Name}}</h4>
                <p class="list-group-item-text">{{attendee.Profile.Name}}</p>
            </div>
        </div>
    </div>
    <!-- No messages -->
    <div class="well" ng-show="messages.length == 0">You have not yet exchanged any messages with {{attendee.Name}}</div>
    <!-- Search messages  -->
    <div class="form-group" ng-show="messages.length > 50">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
            <input type="text" class="form-control" ng-model="query" placeholder="Search messages..." />
        </div>
    </div>
    <!-- Message list -->
    <div class="list-group" ng-hide="messages.length==0">
        <div ng-animate="'animate'" ng-repeat="message in messages | filter:query">
            <!-- Right align messages from other Attendee-->
            <div class="list-group-item" ng-show="message.senderID != sender.AttendeeID">
                <div class="pull-right" style="margin-left:10px">
                    <!-- Profile picture -->
                    <img class="circle" style="height:40px" ng-src="img/profile.jpg" ng-hide="attendee.Profile">
                    <img class="circle" style="height:40px" ng-src="{{attendee.Profile.ProfilePictureUri}}" ng-show="attendee.Profile" ng-click="showProfile(attendee.Profile.ProfileID)">
                </div>
                <div class="well pull-right" style="padding:10px; max-width:60%" ng-click="showMessage{{message.id}}Time=!showMessage{{message.id}}Time">
                    <div>{{message.message}}</div>
                    <span am-time-ago="message.createdAt" style="font-size:x-small" ng-show="showMessage{{message.id}}Time"></span>
                </div>

            </div>
            <!-- Left align messages from this Attendee-->
            <div class="list-group-item" ng-show="message.senderID == sender.AttendeeID">
                <div class="pull-left" style="margin-right:10px">
                    <!-- Profile picture -->
                    <img class="circle" style="height:40px" ng-src="{{sender.Profile.ProfilePictureUri}}">
                </div>
                <div class="well pull-left" style="padding:10px; max-width:60%" ng-click="showMessage{{message.id}}Time=!showMessage{{message.id}}Time">
                    <div>{{message.message}}</div>
                    <span am-time-ago="message.createdAt" style="font-size:x-small" ng-show="showMessage{{message.id}}Time"></span>
                </div>
            </div>
        </div>
    </div>
</div>
